body {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #b9e1ff #94cbff;
}

body,
html {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-in-out forwards;
}

.chrome-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #008dcf,
    #ffffff,
    #003156,
    #ffffff,
    #00c6e4
  );
  background-size: 300% 100%;
  animation: shine 5s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
